.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.8rem;
  column-gap: 0.8rem;
}

.pagination__btn {
  padding: 1.2rem;
}

.pagination__page {
  padding: 1rem 1.4rem;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.prev__btn {
  margin-right: 1.6rem;
}

.next__btn {
  margin-left: 1.6rem;
}
