*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 55%;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  color: #171717;
  background-color: #fbfbfb;
  font-family: 'Junge', serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 1rem 2rem;
  background: #29a4bf;
  border-radius: 8px;
  border: none;
  color: #fbfbfb;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.6rem;
}

.logo {
  font-family: 'Happy Monkey', system-ui;
  font-weight: 500;
  letter-spacing: -3.2px;
  font-size: 4rem;
  padding: 1.4rem 0;
  display: inline-block;
}

/* @media only screen and (max-width: 340px) {
  html {
    font-size: 52%;
  }
} */

@media only screen and (min-width: 768px) {
  html {
    font-size: 58.5%;
  }

  .container {
    padding: 0 1.2rem;
  }

  .logo {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 65%;
  }
}
