.search__input {
  padding: 1.2rem 1.5rem;
  border: 1px solid #b9b9b9;
  width: 50%;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.6rem;
}

.search__input:focus {
  outline: none;
}

.search__btn {
  margin-left: 2.4rem;
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 5.6rem;
}
