.country-details__container {
  background-size: cover;
  background-position: center;
  color: #fbfbfb;
  border-radius: 24px;
  height: 48rem;
  position: relative;
}

.country-details__wrapper {
  margin-left: 3.2rem;
  padding: 8rem 0;
}

.country-details__details,
.country-details__details--box,
.country-details__info--box {
  display: flex;
  align-items: center;
}

.country-details__details--box:first-child {
  margin-right: 2.4rem;
}

.country-details__details--icon {
  width: 2rem;
  height: 2rem;
}

.country-details__timezone,
.country-details__temperature {
  font-size: 1.6rem;
  padding-left: 0.8rem;
}

.country-details__text--container {
  margin-top: 2rem;
}

.country-details__capital {
  font-size: 4rem;
  padding-bottom: 0.4rem;
}

.country-details__name {
  font-size: 1.6rem;
}

.country-details__info {
  margin-top: 7.2rem;
}

.country-details__info--box {
  margin-top: 2rem;
}

.country-details__info--heading,
.country-details__info--text {
  font-size: 1.6rem;
}

.country-details__info--text {
  padding-left: 1rem;
}

.attribution {
  position: absolute;
  bottom: 20px;
  right: 24px;
}

.attribution__text {
  font-size: 1.2rem;
  font-style: italic;
}

.attribution__text a {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .country-details__wrapper {
    display: flex;
    margin-left: 0;
    padding: 8rem 0 0;
  }

  .country-details__box {
    margin-left: 6.4rem;
  }

  .country-details__text--container {
    margin-top: 2rem;
  }

  .country-details__capital {
    font-size: 4.8rem;
  }

  .country-details__name {
    font-size: 1.8rem;
  }

  .country-details__info {
    margin: 17rem 6.4rem 0 auto;
  }

  .country-details__info--heading,
  .country-details__info--text {
    font-size: 1.8rem;
  }

  .country-details__info--text {
    padding-left: 1.4rem;
  }

  .attribution {
    bottom: 32px;
    left: 64px;
  }
}

@media only screen and (min-width: 1024px) {
  .country-details__container {
    height: 50rem;
  }

  .country-details__wrapper {
    padding: 10.4rem 0 0;
  }

  .country-details__box {
    margin-left: 9.6rem;
  }

  .country-details__text--container {
    margin-top: 2.4rem;
  }

  .country-details__capital {
    font-size: 5.6rem;
    padding-bottom: 0.6rem;
  }

  .country-details__name {
    font-size: 2rem;
  }

  .country-details__info {
    margin: 20rem 9.6rem 0 auto;
  }

  .attribution {
    left: 96px;
  }

  .attribution__text {
    font-size: 1.4rem;
  }
}
